/*This style sheet is ordered in the same way as the HTML*/

/*Style for the body of the page*/
body {
  background-color: #D6EACD; /*Makes background color light green*/
  display: flex; /*Creates a flex display for the whole body*/
  flex-direction: column; /*Orders flex in a column*/
  height: 100vh; /* Adjusts contents of body to fit within the screen*/
  margin: 0px; /*Deletes margin so that the background color goes to the edges of the page*/

}

/*Navigation Bar at the top of the page*/
.navBar {
    display: flex; /* Puts list item horizontally across page by placing them in flexbox dispaly*/
    justify-content: space-between;
    align-items: end; /* all items are shifted down to the bottom of the nav par*/
    list-style-type: none; /* removes bullets from the list*/
    padding: 0; /* aligns items to the left */
    background-color:white; /* makes background of navigation bar white*/
    margin: 0px; /* removes the margin of this box to align it with the top of the page */
    height: 150px; /*Makes the background color fill the entire container within the grid*/
  }

  .navBarButtons {
    display: flex;
  }

/*Styling for the 'Muddy Paws' icon within the navigation bar*/
  #homeIcon {
    width: 500px;
    height: auto;
  }

/*Styling for the buttons on the navigation bar, and the 'Shop All' button.*/
  a {
    display: block;
    padding: 3px 40px 3px 40px;
    background-color: #D6EACD;
    border: 2px solid #607E52;
    border-radius: 15px;
    color: #607E52;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
  }

/* Change the link color to darker green on hover */
li a:hover {
  background-color: #607E52;
  color: #D6EACD;
}  

/*Makes all text within website the same color and style*/
  .writing {
    color: #607E52;
    font-family: Arial, Helvetica, sans-serif;
  }

/*Styling for the Carousel below the navigation bar*/
.carouselImage img {
  padding: 20px;
  width: 80%;
  height: auto;
  border-radius: 50px;

}

.carouselImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for 'Recommended Items' heading*/
  h2 {
    padding-left: 10%;
    font-size: xx-large;
  }

  .recItems {
    display:flex
  }

/*Style for the list of product items under 'Recommended items'*/
  .productRow {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 10%;
}
  
  /*Makes the list of product items into floating objects so they can be displayed horizontally*/
  li {
    margin: 10px;
  }

#shoppingBag {
    width: 35px;
}
/*Images for products under the Recommended Items*/

.productImage {
    height: 200px;
    width: 200px; /* Sets height/width as same to create a square image*/
    border-radius: 30px; /* Rounds corners of images*/
    border: 7px solid white; /*Creates a border around images*/
    margin-left: 10px;
}

/*Makes all Product titles larger than their prices*/

.productTitle {
  font-size: x-large;
}

/*Style for Shop All button at bottom of page*/ 

.shopAll {
  justify-content: right;
  display: flex;
  padding: 20px;
  padding-right: 10%;
}

.shopAll a {
  width: 130px;
  padding: 5px 30px 5px 30px;
  text-align: center;
  background-color: #607E52;
  color: #D6EACD;
}